.log {
  flex: 1;
  overflow-y: auto;
  padding-right: var(--scrollWidth);
}

.log-itemContainer {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.log-date {
  font-weight: 700;
  margin: 20px 0 10px;
}

.log-type {
  display: flex;
  flex-direction: row;
  color: #d44c21;
}

.log-item {
  flex: 1;
  margin-bottom: 5px;
}

.log-item--note {
  color: rgba(0, 0, 0, 0.4);
}

.log-item--event {
  color: rgba(210, 20, 66, 0.75);
}

.log-item--done,
.log-item--done .log-tag {
  text-decoration: line-through;
  font-style: italic;
}

.log-item-type {
  color: #d44c21;
}

.log-due {
  font-weight: 700;
}

.log-tag {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  color: #eee;
  display: inline-block;
  font-size: 75%;
  padding: 3px 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;
}

.log-tag:hover {
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.log-tag:focus,
.log-tag:active {
  background: rgba(0, 0, 0, 0.8);
}
