.grid {
  display: grid;
  grid-template-columns: [left-gutter] 2fr [left] 15fr [middle-gutter] 1fr [right] 15fr [right-gutter] 2fr;
  grid-template-rows: [top-gutter] 1fr [top] 10fr [middle-gutter] 1fr [bottom] 10fr [bottom-gutter] 1fr;
  height: 100vh;
}

.grid-section {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.grid-section--right {
  text-align: right;
}

.grid-section--right .log-title::before {
  content: none;
}

.grid-section--right .log-title::after {
  content: " #";
}

.grid-section--log {
  grid-column-start: left;
  grid-column-end: left;
  grid-row-start: top;
  grid-row-end: bottom-gutter;
}

.grid-section--filter {
  grid-column-start: right;
  grid-column-end: right;
  grid-row-start: top;
  grid-row-end: top;
}

.grid-section--tasks {
  grid-column-start: right;
  grid-column-end: right;
  grid-row-start: bottom;
  grid-row-end: bottom;
  align-self: end;
}

.log-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.log-title::before,
.log-title::after {
  content: "# ";
  color: #d44c21;
  font-weight: normal;
}

.log-title::after {
  content: none;
}
